{% assign htc_menu = site.data.htc-guide-menu %}
{% assign hpc_menu = site.data.hpc-guide-menu %}
{% assign active = page.url %}

{% if page.guide.tag contains "htc" and page.guide.tag contains "hpc" %}
    {% assign show_guide = "HTC guides,HPC guides" | split: ',' %}
    {% assign collapse_guides = "accordion-header" %}
{% elsif page.guide.tag contains "htc" %}
    {% assign show_guide = "HTC guides" %} 
{% elsif page.guide.tag contains "hpc" %}
    {% assign show_guide = "HPC guides" %}
{% endif %}


    <div id="guide-sidebar">
        {% for item in show_guide %}
            {% if show_guide.first %}
                    <h6 class="mt-5">{{ item }}</h6>
            {% else %}
                    <h6 class="mt-5">{{ item }}</h6>
            {% endif %}
            {% if item == "HTC guides" %}
                {% assign menu = htc_menu %}
            {% elsif item == "HPC guides" %}
                {% assign menu = hpc_menu %}
            {% endif %}
            <div class="accordion accordion-flush">
                {% for categories in menu %}
                {% assign category = categories.text %}
                    <div class="accordion-item">
                            {% assign id = category | append: item %}
                            <span class="accordion-header mt-0" id="{{ id | slugify }}">
                                <button class="accordion-button {% unless active.size == 1 %}collapsed {% endunless %}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id | slugify }}-collapse" aria-expanded="false" aria-controls="{{ id | slugify }}">
                                    {{ category }}
                                </button>
                            </span>
                            <div id="{{ id | slugify }}-collapse" class="accordion-collapse collapse aria-labelledby="{{ id | slugify }}" data-bs-parent="#guide-sidebar">
                                {% for guide in categories.links %}
                                    {% if guide.url %}
                                        <div class="document-link-wrapper bg-light">
                                            <a class="{% if active == guide.url %}fw-bolder{% endif %}" href="{{ guide.url | relative_url }}">{{ guide.text }}</a>
                                        </div>
                                    {% elsif guide.links %}
                                        <div class="document-link-wrapper" style="background-color: #d3d3d3;">
                                            <span style = "font-size: .8rem;">
                                                <i class="bi bi-folder me-2"></i>
                                                {{ guide.text }}
                                            </span>
                                        </div>
                                        {% for subguide in guide.links %}
                                            {% if subguide.url %}
                                                <div class="document-link-wrapper bg-light" style="padding-left: 1.5em;">
                                                    <a class="{% if active == subguide.url %}fw-bolder{% endif %}" href="{{ subguide.url | relative_url }}">{{ subguide.text }}</a>
                                                </div>
                                            {% elsif subguide.links%}
                                                <div class="document-link-wrapper" style="padding-left: 1.5em; background-color: #d3d3d3;">
                                                    <span style = "font-size: .8rem;">
                                                        <i class="bi bi-folder me-2"></i>
                                                        {{ subguide.text }}
                                                    </span>
                                                </div>
                                                {% for subguide2 in subguide.links %}
                                                <div class="document-link-wrapper bg-light" style="padding-left: 3em;">
                                                    <a class="{% if active == subguide2.url %}fw-bolder{% endif %}" href="{{ subguide2.url | relative_url }}">{{ subguide2.text }}</a>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>  


